#first-semester-btn {
  margin-top: 10px;
}

:global(.table) + #first-semester-btn {
  margin-top: 0;
}

.points-wrap {
  margin: 0;
}

.percentage {
  font-weight: 200;
  opacity: 0.8;
  margin-left: 11px;
}