.open__button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 4px 7px;
}

.open__dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-left: 0;
  padding: 4px 7px; 
}

/* EDIT FLYOUT */

.edit__link-input {
  margin-bottom: 5px;
}

.edit__link-button {
  margin-top: 10px;
}

/* Shrink Time & Attendence columns to make room for zoom column */
:global .schedule-list thead tr th:nth-child(1) {
  width: 18%;
}
:global .schedule-list thead tr th:nth-child(6) {
  width: 10%;
}