/* WRAP */

.section-wrap {
  margin-top: 10px;
}

.section-options-wrap {
  padding: 2px 0;
}

/* MODULE */

.module-extra-options {
  display: none;
  padding: 8px 0;
}

.module-expanded .module-extra-options {
  display: block;
}

.module-expanded .module-extra-options::before {
  content: '';
  display: block;
  border-top: 1px solid #bbbbbb;
  width: 95%;
  margin: 0 auto;
}

.module-extra-options > :first-child {
  margin-top: 10px;
}

.module-wrap {
  background: #f0efef;
  margin-bottom: 5px;
}

.module-top {
  padding: 10px;
}

.module-label {
  display: inline-block;
  max-width: 95%;
  margin: 0;
  user-select: none;
}

.module-caption {
  font-weight: normal; 
  margin: 0 10px;
}

.module-chevron {
  font-size: 17px;
}

.module-expanded .module-chevron {
  transform: rotate(180deg);
}

.module-description {
  padding-left: 4px;
  color: #9d9d9d;
}

.module-expand-link {
  max-width: 5%;
  color: black;
  float: right;
  cursor: pointer;
}

/* SUBOPTION */

.suboption-label {
  font-weight: normal;
  margin-left: 2.7%;
  display: block;
}

.suboption-name {
  margin-right: 7px;
}

.suboption-description {
  color: #9d9d9d;
}

.suboption-input {
  display: inline-block;
}

input.suboption-input {
  width: 100px;
}
textarea.suboption-input {
  width: 300px;
  height: 70px;
  vertical-align: middle;
}

.suboption-label :global(.bb-check-wrapper) {
  margin-right: 7px;
}

.suboption-hidden {
  display: none;
}

.suboption-reset {
  display: none;

  box-sizing: border-box;
  height: 22px;
  padding: 1px 5px;
  margin-left: 11px;

  border-radius: 0;
  border-color: rgb(169, 169, 169) !important;
}
.suboption-reset.suboption-reset-visible {
  display: inline-block;
}

/* TOGGLE */

.toggle-wrap {
  --track-width: 35px;
  --pill-width: 15px;
}

.toggle-wrap input {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle-track {
  padding: 1px 5px;
  padding-bottom: 0;
  width: var(--track-width);
  display: inline-block;
  background: gray;
  box-sizing: content-box;
  border-radius: 20px;
  transition: background 100ms;
}

.toggle-wrap input:focus-visible + .toggle-track {
  outline: -webkit-focus-ring-color 2px solid;
}

.toggle-wrap input:checked + .toggle-track {
  background: #007ca6;
}

.toggle-pill {
  background: white;
  height: 13px;
  width: var(--pill-width);
  display: inline-block;
  transition: transform 100ms;
  display: inline-block;
  border-radius: 20px;
}

.toggle-wrap input:checked + .toggle-track .toggle-pill {
  transform: translate(calc(var(--track-width) - var(--pill-width)));
}

/* SEARCHBAR */

.searchbar-wrap {
  display: flex;
  align-items: center;
}

.searchbar {
  width: 100%;
  border: none;
  padding: 5px 15px 5px 2px;
  flex-grow: 1;
  margin-left: 9px;
  border-bottom: 1px solid var(--seperator-gray);
  outline: none;
}

.searchbar::placeholder {
  color: rgba(0, 0, 0, 0.4);
}