{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": "Chrome >= 60"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    "transform-object-rest-spread"
  ]
}