.expand {
  opacity: 0;
  transition: opacity 100ms;
  margin-left: 10px;
  padding: 0 3px;
  height: 17.7px;
  display: inline-flex;
  vertical-align: baseline;
}

:global(.modal-body td[data-heading="Assignment"]:hover) .expand {
  opacity: 1;
}

.details {
  display: table-row;
  background: white;
  border-bottom: 1px dotted #cdcfd2;
}

tr:nth-of-type(odd) + .details {
  background: #f9f9f9;
}

.details td {
  padding: 10px 5px;
}

.details + tr td {
  /* border-top on next row */
  border-top: 1px dotted #cdcfd2 !important;
}