.notification-toggle-button {
  margin-top: -3px;
  background: white;
  float: right;
  font-size: 10px;
  padding: 4px;
  margin-left: 10px;
  color: black;
}
.notification-toggle-button.notification-toggle-button-enabled {
  color: white;
  background: var(--success-green);
}

.progress-header-bubble {
  line-height: 0;
  padding: .3em .8em;
  font-size: 12px;
  background-color: var(--primary-maroon);
}

.view-assignments-button {
  background: var(--primary-maroon);
  color: white !important;
}
.view-assignments-button:hover {
  background: var(--primary-maroon);
  color: white !important;
}