.flyout {
  display: block !important;
  margin-top: 15px !important;
  transform: translate(-50%); /* Makes arrow be at center */
  outline: none;
  z-index: 999; /* Below desktop nav */
}
.arrow {
  left: 50%;
}