/* HEADER */

.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__add-button {
  margin: 10px;
}

/* EDITOR */

.editor {
  display: none;
  justify-content: space-between;
}

.editor--visible {
  display: flex;
}

.editor__input {
  border: none;
  border-bottom: 1px solid var(--seperator-gray);
  outline: none;
  line-height: normal !important; /* override site styles */
  margin-left: 10px;
}

.editor__description {
  width: 95%;
  border: 1px solid var(--seperator-gray);
  margin-top: 10px;
  margin-right: 10px;
}

.editor__input::placeholder {
  font-style: normal;
}

.editor__due-label {
  border-bottom: 1px solid var(--seperator-gray);
  margin-left: 15px;
  font-weight: normal;
  color: gray;
}

.editor__due-label input {
  border-bottom: none;
  margin-left: 5px;
  width: 142px;
  color: black;
}

.editor__button-wrap {
  margin-bottom: -2px;
  display: flex;
  height: 30px;
}

.editor__button-wrap button:first-child {
  margin-right: 10px;
}

/* CHECKPOINT LIST ITEM */

.checkpoint__wrap {
  display: flex;
  justify-content: space-between;
}

.checkpoint__name {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.checkpoint__due {
  display: inline-block;
  margin-left: 10px;
  color: gray;
  font-style: italic;
}

.checkpoint__description {
  color: gray;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}

.checkpoint__controls {
  display: inline-block;
  margin-left: 10px;
  opacity: 0;
  /* transition: 100ms opacity; */
}

.checkpoint__wrap:hover .checkpoint__controls {
  opacity: 1;
}

.checkpoint__controls button {
  margin-right: 5px;
}