.preview__wrap {
  margin-left: 10px;
  margin-top: 5px;
}

.preview__more {

}

.checkpoint__wrap {
  display: none;
}

.checkpoint__wrap--visible {
  display: inline-block;
}

.preview__wrap--showing-more .checkpoint__wrap--visible {
  display: block;
}

.checkpoint__due {
  color: gray;
  display: inline-block;
  margin-left: 5px; 
  margin-right: 5px;
  font-style: italic;
}

.checkpoint__checkbox {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

.checkpoint__checkbox span {
  width: 18px;
  height: 18px;
  outline: none !important;
}

.checkpoint__checkbox span::before {
  font-size: 9px !important;
  position: relative;
  top: -3px;
}

.checkpoint__fadeout {
  transition: opacity 200ms;
  opacity: 0;
}