.controls {
  position: absolute;
  display: inline-block;
  right: 10px;
  bottom: 0;
  padding: 0 5px;
  opacity: 0;
  height: 100%;
}

.controls button {
  border: none;
  font-size: 15px;
  margin-right: 4px;
  background: transparent;
  height: 100%;
}

.menu-desktop-link .controls {
  color: black;
}

.menu-mobile-link {
  position: relative;
}
.menu-mobile-link .controls {
  color: white;
}

.menu-desktop-link:hover, .menu-desktop-link:focus-within, .menu-desktop-link.menu-highlight {
  background: var(--nav-menu-highlight);
}
.menu-link:hover .controls, .menu-link:focus-within .controls, .menu-highlight .controls {
  opacity: unset;
}
.visible-menu {
  display: block !important;
}
.mobile-menu-arrow {
  margin: 10px 12px 12px 12px;
}

.mobile-menu-submenu:global(.open)::after {
  /* MyGann uses the after pseudoelement to create the darkened 
   * strip between the submenu and the entire mobile menu
   * which blocks the delete flyout because of a high z-index.
  */
  z-index: unset;
}