.percentage {
  margin-left: 11px;
  font-weight: 200;
  font-size: 14px;
  opacity: 0.8;
}

:global .modal-body td[data-heading="Points"] h4 {
  display: inline-block;
}

:global .modal-body td[data-heading="Points"] .rubric-detail-button {
  display: block;
}