:global #group-header-Classes + * + .subnav {
  /* Move search bar up */
  padding-top: 1px !important;
}

#mobile-search-bar {
  background: #880d2f;
  color: white;
  border: none;
  outline: none;
  font-size: 1.2em;
}

.hidden-course-desktop, .hidden-course-mobile {
  opacity: 0.1;
}

.highlighted-course-desktop a {
  background: var(--nav-menu-highlight);
}

.highlighted-course-mobile a {
  /* text-shadow and color override more specific native selectors */
  text-shadow: none !important;
  color: black !important;
  background: rgb(234, 215, 104);
}

.desktop-input, .mobile-input {
}
.desktop-input {
  display: block;
  border: none;
  outline: none;
  padding: 5px 15px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--seperator-gray);
}
.desktop-input::placeholder {
  color: rgba(0, 0, 0, 0.4s)
}
.mobile-input {

}