.wrap p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.wrap a {
  cursor: pointer;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: normal;
}

.main-description {
  font-weight: normal;
  margin-bottom: 10.5px;
  font-size: 16px;
}

.update-badge {
  display: inline-block;
  background: var(--badge-red);
  height: var(--badge-size);
  width: var(--badge-size);
  border-radius: 50%;
  pointer-events: none;
}
#desktop-avatar-badge {
  position: absolute;
  left: 30px;
  top: 10px;
  --badge-size: 10px;
}
#desktop-link-badge {
  position: absolute;
  bottom: 8px;
  left: 5px;
  --badge-size: 8px;
}
#release-notes {
  display: none;
  margin-left: 10px;
  border-left: 1px solid var(--seperator-gray);
  padding-left: 10px;
  /* opacity: 0.8; */
  font-weight: lighter;
}
#release-notes h3 {
  font-weight: lighter;
}
.release-notes-shown #release-notes {
  display: block;
}
.release-notes-shown #release-notes-link::before {
  content: 'hide ';
}

#update-notification-buttons {
  margin-top: 10px;
}
#update-notification-buttons button {
  margin-right: 10px;
  font-size: 12px;
}