.play-button {
  margin-top: 3px;
}

.wrap {
  padding: 20px 0;
  background: #f8f8f8;
  position: relative;
  text-align: center;
}

.image-wrap {
  text-align: center;
}

.image-wrap > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.input {
  display: block;
  margin: 10px auto;
  font-size: 20px;
  padding: 10px;
}

.hint {
  display: block;
}

.wrong-answer .input {
  border: 2px solid red;
  outline: 2px solid red;
}

.upper-right-wrap {
  position: absolute;
  top: 0;
  right: 5px;
}

.settings-button {
  margin-right: 11px;
  background: gray;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.Settings--nickname-remove {
  margin-left: 3px;
  color: gray;
}

.Multiple-Choice--wrap {
  margin: 10px auto;
}
.Multiple-Choice--box {
  margin: 0 5px;
}

.hidden {
  display: none;
}