.hidden {
  display: none;
}

.filter-input {
  width: 234px;
  height: 29.6px;
  display: inline;
  margin-left: 15px;
}

@media (max-width: 978px) {
  .filter-input {
    margin-top: 10px;
  }
}

.selected-course [data-analysis] {
  font-weight: bold;
}