/* :global #areaNext {
  display: none !important;
} */

:global #areaLogin, :global #areaCancel {
  /* display: inline !important; */
  display: none !important;
}

:global #divPassword {
  display: block !important;
}
