:global #site-login-main-wrapper {
    background-color:  rgb(53, 53, 53) !important;
    border: 1px solid black !important;
    color: white !important;
}

:global .form-control,
:global .btn, 
:global .input-sm {
    background-color: rgb(58, 58, 58) !important;
    color: white !important;
    border: 1px solid black !important;
    border-radius: 3px;
}

:global .pri-100-fgc {
    color: white !important;
}

:global #site-login-header {
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
}

:global .app-mobile-pusher,
:global .sec-15-bgc, 
:global .sec-15-bgc-hover:hover,
:global html {
    background-color: rgb(30, 30, 30) !important;
}

:global .bb-tile-content {
    border-top: 1px solid black !important; 
}

:global .bb-tile-title {
    border-top: 1px solid black !important;
}

:global .bb-tile-content-section,
:global .bb-tile-title {
    background-color: rgb(53, 53, 53) !important;
    color: white !important;
}

:global .bb-tile,
:global .bb-tile-header {
    color: white !important;
}

:global .well {
    background-color: rgb(53, 53, 53) !important;
    color: white !important;
    border: 1px solid black !important;
}
 
/* To work fully these need to only zebra stripe the rows with only the row class */
:global #courses #coursesContainer .row:nth-of-type(odd),
:global #courses #communitiesContainer .row:nth-of-type(odd),
:global #courses #athleticsContainer .row:nth-of-type(odd),
:global #courses #advisoryContainer .row:nth-of-type(odd){
	background-color: rgb(43, 43, 43) !important;
}

:global .popContainerStraight {
    color: rgb(0, 124, 166) !important;
}

:global .bb-tile hr {
    border-top: 1px solid black;
}

:global .table > thead > tr > th, 
:global .table > thead > tr > td, 
:global .table > tbody > tr > th, 
:global .table > tbody > tr > td, 
:global .table > tfoot > tr > th, 
:global .table > tfoot > tr > td {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
}

:global .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(53, 53, 53) !important;
}

:global .table-striped > tbody > tr:nth-of-type(even) {
    background-color: rgb(43, 43, 43) !important;
}

:global .table > caption + thead > tr:first-child > th, 
:global .table > caption + thead > tr:first-child > td, 
:global .table > colgroup + thead >tr:first-child > th, 
:global .table > colgroup + thead > tr:first-child > td, 
:global .table > thead:first-child > tr:first-child > th, 
:global .table > thead:first-child > tr:first-child > td {
    border-right: none !important;
    border-radius: 0px !important;
    background-color: rgb(43, 43, 43) !important;
    color: white !important;
}

:global .sky-wait-mask {
    background-color: rgb(53, 53, 53)
}

:global .chCal-button,
:global .chCal-button-week,
:global .chCal-state-default,
:global .chCal-corner-right {
    border: 1px solid black !important;
    border-radius: 3px;
    padding: 6px 12px !important;
    background-color: rgb(58, 58, 58) !important;
}

:global .chCal-button-inner {
    border: none !important;
    color: white !important; 
    background-color: rgb(58, 58, 58) !important;
}

:global .chCal-button-content {
    padding: 0px !important;
    line-height: 1.428571429 !important;
    height: auto !important;
}

:global .chCal-button-effect {
    display: none !important;
}

:global #schedule-header > div > div > div > div:nth-child(2) > div {
    padding-bottom: 6px;
}
