:global #site-login-main-wrapper {
    background-color:  rgb(53, 53, 53) !important;
    border: 2px solid black !important;
    color: white;
}

:global .form-control,
:global .btn, 
:global .input-sm,
:global .chCal-button-content {
    background-color: rgb(58, 58, 58) !important;
    color: white;
    border: 1px solid black !important;
}

:global .pri-100-fgc {
    color: white !important;
}

:global #site-login-header {
    border-top: 2px solid black !important;
    border-right: 2px solid black !important;
    border-left: 2px solid black !important;
}

:global .app-mobile-pusher,
:global .sec-15-bgc, 
:global .sec-15-bgc-hover:hover,
:global html {
    background-color: rgb(30, 30, 30) !important;
}

:global .bb-tile-content {
    border-top: 1px solid black !important; 
}

:global .bb-tile-title {
    border-top: 4px solid black !important;
}

:global .bb-tile-content-section,
:global .bb-tile-title {
    background-color: rgb(53, 53, 53) !important;
    color: white !important;
}

:global .bb-tile,
:global .bb-tile-header {
    color: white !important;
}

:global .well {
    background-color: rgb(53, 53, 53) !important;
    color: white !important;
    border: 1px solid black;
}


:global .popContainerStraight {
    color: rgb(0, 124, 166);
}
